In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("/content/drive/MyDrive/AI Quest assignments/Supershops_assignment/supershops.csv")

In [4]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [5]:
df.shape

(50, 5)

In [6]:
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()

## **Normalization**

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
m = MinMaxScaler()

### **Fitting, and then transforming feature step by step**

In [9]:
ms = m.fit(df[["Marketing Spend"]])
ms

MinMaxScaler()

In [10]:
df["Marketing Spend"] = ms.transform(df[["Marketing Spend"]])

In [11]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617       136897.80  471784.10    Dhaka  192261.83
1         0.983359       151377.59  443898.53      Ctg  191792.06
2         0.927985       101145.55  407934.54  Rangpur  191050.39
3         0.873136       118671.85  383199.62    Dhaka  182901.99
4         0.859438        91391.77  366168.42  Rangpur  166187.94

### **Fitting and transforming feature simultaneously**

In [12]:
df["Administration"] = m.fit_transform(df[["Administration"]])

In [13]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744  471784.10    Dhaka  192261.83
1         0.983359        0.761972  443898.53      Ctg  191792.06
2         0.927985        0.379579  407934.54  Rangpur  191050.39
3         0.873136        0.512998  383199.62    Dhaka  182901.99
4         0.859438        0.305328  366168.42  Rangpur  166187.94

In [14]:
df["Transport"] = m.fit_transform(df[["Transport"]])

In [15]:
df.head() # Normalized features

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

## **Standardization**

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
df1.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [18]:
s = StandardScaler()

In [19]:
ms1 = s.fit(df1[["Marketing Spend"]])
ms1

StandardScaler()

In [20]:
df1["Marketing Spend"] = ms1.transform(df1[["Marketing Spend"]])

In [21]:
df1.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913       136897.80  471784.10    Dhaka  192261.83
1         1.955860       151377.59  443898.53      Ctg  191792.06
2         1.754364       101145.55  407934.54  Rangpur  191050.39
3         1.554784       118671.85  383199.62    Dhaka  182901.99
4         1.504937        91391.77  366168.42  Rangpur  166187.94

In [22]:
df1["Administration"] = s.fit_transform(df1[["Administration"]])

In [23]:
df1.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753  471784.10    Dhaka  192261.83
1         1.955860        1.082807  443898.53      Ctg  191792.06
2         1.754364       -0.728257  407934.54  Rangpur  191050.39
3         1.554784       -0.096365  383199.62    Dhaka  182901.99
4         1.504937       -1.079919  366168.42  Rangpur  166187.94

In [24]:
df1["Transport"] = s.fit_transform(df1[["Transport"]])

In [25]:
df1.head() # Standardized features

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   2.165287    Dhaka  192261.83
1         1.955860        1.082807   1.929843      Ctg  191792.06
2         1.754364       -0.728257   1.626191  Rangpur  191050.39
3         1.554784       -0.096365   1.417348    Dhaka  182901.99
4         1.504937       -1.079919   1.273550  Rangpur  166187.94

## **Robust Scaler**

In [26]:
from sklearn.preprocessing import RobustScaler

In [27]:
r = RobustScaler()

In [28]:
t1 = r.fit(df2[["Administration"]])
t1

RobustScaler()

In [29]:
df2["Marketing Spend"] = r.fit_transform(df2[["Marketing Spend"]])
df2["Administration"] = r.fit_transform(df2[["Administration"]])
df2["Transport"] = r.fit_transform(df2[["Transport"]])

In [30]:
df2.head() # Robust scaled features

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355   1.552016    Dhaka  192261.83
1         1.452113        0.697565   1.383714      Ctg  191792.06
2         1.303634       -0.524290   1.166654  Rangpur  191050.39
3         1.156567       -0.097977   1.017368    Dhaka  182901.99
4         1.119836       -0.761543   0.914576  Rangpur  166187.94

## **Maximum Absolute Scaler**

In [31]:
from sklearn.preprocessing import MaxAbsScaler

In [32]:
mx = MaxAbsScaler()

In [33]:
a = mx.fit(df3[["Administration"]])
a

MaxAbsScaler()

In [34]:
df3["Marketing Spend"] = mx.fit_transform(df3[["Marketing Spend"]])
df3["Administration"] = mx.fit_transform(df3[["Administration"]])
df3["Transport"] = mx.fit_transform(df3[["Transport"]])

In [35]:
df3.head() # Maximum absolute scaled features

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.749527   1.000000    Dhaka  192261.83
1         0.983359        0.828805   0.940893      Ctg  191792.06
2         0.927985        0.553781   0.864664  Rangpur  191050.39
3         0.873136        0.649738   0.812235    Dhaka  182901.99
4         0.859438        0.500378   0.776136  Rangpur  166187.94

### **Using for loop:**

In [36]:
df4.drop("Profit", axis = 1, inplace = True)
df4.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [37]:
for column in df4.columns:
  if df4[column].dtype == np.number:
    df4[column] = mx.fit_transform(df4[[column]])
  else:
    pass

In [38]:
df4.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.749527   1.000000    Dhaka
1         0.983359        0.828805   0.940893      Ctg
2         0.927985        0.553781   0.864664  Rangpur
3         0.873136        0.649738   0.812235    Dhaka
4         0.859438        0.500378   0.776136  Rangpur